table (border=1)
    thead 
        tr
            th FullNames 
            th NumberPhone 
    tbody 
        tr 
            td Homer Simpson 
            td 001-24537
        tr 
            td Marge Simpson 
            td 002-456789
        tr 
            td Barth Simpson 
            td 003-456789