/* - - - - - - - - - - - - - - */
/* F O N T S */
/* - - - - - - - - - - - - - - */
@font-face {
    font-family: 'Poppins-400';
    src: url(../fonts/Poppins-400.ttf);
}

@font-face {
    font-family: 'Poppins-600';
    src: url(../fonts/Poppins-600.ttf);
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap'); */
/* - - - - - - - - - - - - - - */
/* R E S E T */
/* - - - - - - - - - - - - - - */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* {
    margin: 0; 
    padding: 0; 
} */

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

/* - - - - - - - - - - - - - - */
/* V A R I A B L E S */
/* - - - - - - - - - - - - - - */
:root {
    --color-1: #fff9;
    --color-2: #0009;
    --font-400: 'Poppins-400', sans-serif;
    --font-600: 'Poppins-600', sans-serif;
}

/* - - - - - - - - - - - - - - */
/* G E N E R A L */
/* - - - - - - - - - - - - - - */
body {
    align-items: center;
    color: var(--color-2);
    display: flex;
    font-family: var(--font-400);
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;

    nav:not(.nav) {
        position: fixed;
        top: 10px;
        left: 10px;

        a:is(:link, :visited) {
            background-color: var(--color-2);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            opacity: .8;
            transition: all 0.2s ease-in;
            width: 40px;

            svg {
                width: 24px;
            }
        }

        a:is(:hover) {
            opacity: 1;
            transform: scale(1.12);
        }
    }
    main {
        header {
            align-items: center;
            display: flex;
            justify-content: center;
            gap: 0.6rem;
            flex-direction: column;

            h1 {
                font-size: 3rem;
                color: var(--color-1);
                font-family: var(--font-400);
                display: flex;
                align-items: center;
                text-align: center;
                gap: 0.6rem;

                span {
                    border-radius: 50px;
                    background-color: var(--color-2);
                    color: var(--color-1);
                    font-size: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    width: 50px;
                }
            }

            h2 {
                font-size: 1.4rem;
                font-family: var(--font-600);
            }

            h3 {
                font-size: 1rem;
                font-family: var(--font-400);
                border-radius: 50px;
                background-color: var(--color-2);
                color: var(--color-1);
                padding: 8px 16px;
            }

            p {
                color: #fff9;
                margin: 0 auto;
                width: 80%;
                text-align: center;
            }

            img {
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 50%;
                border: 10px solid var(--color-1);
                height: 200px;
                object-fit: cover;
                width: 200px;
            }
        }

        section {
            padding: 1rem;
            background-color: var(--color-1);
            border-radius: 4px;
            margin-block: 1rem;
            margin-inline: auto;
            width: 400px;

            h3 {
                border-bottom: 2px dotted var(--color-2);
                margin-block: 0.6rem;
            }

            p {
                font-size: 1.4rem;
                margin-bottom: 0.6rem;
            }

            xmp {
                color: #43fa43;
                margin-top: 0.6rem;
                border-radius: 5px;
                padding: 0 0.8rem 0.8rem;
                background-color: #0006;
            }
        }
        table {
                border: 1px solid #0006;
                border-collapse: collapse;
                font-size: 0.8rem;
                width: 100%;
                thead {
                    th {
                        border: 1px solid #0006;
                        background-color: #0006;
                        color: #fff;
                        padding: 0.4rem;
                    }
                }
                tbody {
                    td {
                        border: 1px solid #0006;
                        background-color: #0006;
                        color: #ffff;
                        padding: 0.4rem;
                        &:last-child {
                            font-family: 'Poppins-600';
                            text-align: center;
                        }
                    }
                }
            }
        menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-block: 2rem;
            justify-content: center;
            gap: 0.6rem;

            a:is(:link, :visited) {
                border-radius: 50px;
                background: linear-gradient(to right, #fffc, rgba(194, 194, 194, 0.2));
                color: var(--color-2);
                display: flex;
                align-items: center;
                padding: 0.6rem;
                text-decoration: none;
                transition: all 0.4s ease-in;
                gap: 0.6rem;
                width: 240px;

                span {
                    border-radius: 20px;
                    background-color: var(--color-2);
                    color: #fff;
                    font-family: var(--font-600);
                    height: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 28px;
                }
            }

            a:is(:hover) {
                background: linear-gradient(to right, #fffe, rgba(255, 255, 255, 0.4));
                transform: scale(1.05) translateY(-4px);
            }
        }
    }
}

/* - - - - - - - - - - - - - - */
/*  O O P */
/* - - - - - - - - - - - - - - */
body.oop {
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 1200'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(24,960,472)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e7e7e7'/%3E%3Cstop offset='0.02' stop-color='%23000000'/%3E%3Cstop offset='0.02' stop-color='%233e3e3e'/%3E%3Cstop offset='0.032' stop-color='%23000000'/%3E%3Cstop offset='0.032' stop-color='%232c2c2c'/%3E%3Cstop offset='0.056' stop-color='%23000000'/%3E%3Cstop offset='0.056' stop-color='%23dedede'/%3E%3Cstop offset='0.07' stop-color='%23000000'/%3E%3Cstop offset='0.07' stop-color='%237a7a7a'/%3E%3Cstop offset='0.1' stop-color='%23000000'/%3E%3Cstop offset='0.1' stop-color='%23151515'/%3E%3Cstop offset='0.126' stop-color='%23000000'/%3E%3Cstop offset='0.126' stop-color='%23141414'/%3E%3Cstop offset='0.142' stop-color='%23000000'/%3E%3Cstop offset='0.142' stop-color='%23272727'/%3E%3Cstop offset='0.159' stop-color='%23000000'/%3E%3Cstop offset='0.159' stop-color='%239a9a9a'/%3E%3Cstop offset='0.17' stop-color='%23000000'/%3E%3Cstop offset='0.17' stop-color='%23f2f2f2'/%3E%3Cstop offset='0.197' stop-color='%23000000'/%3E%3Cstop offset='0.197' stop-color='%23555555'/%3E%3Cstop offset='0.218' stop-color='%23000000'/%3E%3Cstop offset='0.218' stop-color='%23979797'/%3E%3Cstop offset='0.239' stop-color='%23000000'/%3E%3Cstop offset='0.239' stop-color='%23252525'/%3E%3Cstop offset='0.254' stop-color='%23000000'/%3E%3Cstop offset='0.254' stop-color='%23a4a4a4'/%3E%3Cstop offset='0.283' stop-color='%23000000'/%3E%3Cstop offset='0.283' stop-color='%23c5c5c5'/%3E%3Cstop offset='0.294' stop-color='%23000000'/%3E%3Cstop offset='0.294' stop-color='%236d6d6d'/%3E%3Cstop offset='0.305' stop-color='%23000000'/%3E%3Cstop offset='0.305' stop-color='%232d2d2d'/%3E%3Cstop offset='0.332' stop-color='%23000000'/%3E%3Cstop offset='0.332' stop-color='%23959595'/%3E%3Cstop offset='0.346' stop-color='%23000000'/%3E%3Cstop offset='0.346' stop-color='%23a2a2a2'/%3E%3Cstop offset='0.362' stop-color='%23000000'/%3E%3Cstop offset='0.362' stop-color='%23e0e0e0'/%3E%3Cstop offset='0.381' stop-color='%23000000'/%3E%3Cstop offset='0.381' stop-color='%23898989'/%3E%3Cstop offset='0.415' stop-color='%23000000'/%3E%3Cstop offset='0.415' stop-color='%23b7b7b7'/%3E%3Cstop offset='0.428' stop-color='%23000000'/%3E%3Cstop offset='0.428' stop-color='%235e5e5e'/%3E%3Cstop offset='0.442' stop-color='%23000000'/%3E%3Cstop offset='0.442' stop-color='%23111111'/%3E%3Cstop offset='0.456' stop-color='%23000000'/%3E%3Cstop offset='0.456' stop-color='%23e2e2e2'/%3E%3Cstop offset='0.498' stop-color='%23000000'/%3E%3Cstop offset='0.498' stop-color='%23808080'/%3E%3Cstop offset='0.511' stop-color='%23000000'/%3E%3Cstop offset='0.511' stop-color='%23848484'/%3E%3Cstop offset='0.532' stop-color='%23000000'/%3E%3Cstop offset='0.532' stop-color='%233a3a3a'/%3E%3Cstop offset='0.541' stop-color='%23000000'/%3E%3Cstop offset='0.541' stop-color='%23888888'/%3E%3Cstop offset='0.56' stop-color='%23000000'/%3E%3Cstop offset='0.56' stop-color='%23555555'/%3E%3Cstop offset='0.581' stop-color='%23000000'/%3E%3Cstop offset='0.581' stop-color='%23303030'/%3E%3Cstop offset='0.6' stop-color='%23000000'/%3E%3Cstop offset='0.6' stop-color='%23444444'/%3E%3Cstop offset='0.618' stop-color='%23000000'/%3E%3Cstop offset='0.618' stop-color='%23656565'/%3E%3Cstop offset='0.656' stop-color='%23000000'/%3E%3Cstop offset='0.656' stop-color='%239d9d9d'/%3E%3Cstop offset='0.679' stop-color='%23000000'/%3E%3Cstop offset='0.679' stop-color='%23383838'/%3E%3Cstop offset='0.689' stop-color='%23000000'/%3E%3Cstop offset='0.689' stop-color='%23b1b1b1'/%3E%3Cstop offset='0.720' stop-color='%23000000'/%3E%3Cstop offset='0.720' stop-color='%23393939'/%3E%3Cstop offset='0.734' stop-color='%23000000'/%3E%3Cstop offset='0.734' stop-color='%235a5a5a'/%3E%3Cstop offset='0.748' stop-color='%23000000'/%3E%3Cstop offset='0.748' stop-color='%237a7a7a'/%3E%3Cstop offset='0.764' stop-color='%23000000'/%3E%3Cstop offset='0.764' stop-color='%23717171'/%3E%3Cstop offset='0.788' stop-color='%23000000'/%3E%3Cstop offset='0.788' stop-color='%23ececec'/%3E%3Cstop offset='0.808' stop-color='%23000000'/%3E%3Cstop offset='0.808' stop-color='%23616161'/%3E%3Cstop offset='0.831' stop-color='%23000000'/%3E%3Cstop offset='0.831' stop-color='%231c1c1c'/%3E%3Cstop offset='0.856' stop-color='%23000000'/%3E%3Cstop offset='0.856' stop-color='%23424242'/%3E%3Cstop offset='0.872' stop-color='%23000000'/%3E%3Cstop offset='0.872' stop-color='%23888888'/%3E%3Cstop offset='0.894' stop-color='%23000000'/%3E%3Cstop offset='0.894' stop-color='%235d5d5d'/%3E%3Cstop offset='0.914' stop-color='%23000000'/%3E%3Cstop offset='0.914' stop-color='%23686868'/%3E%3Cstop offset='0.942' stop-color='%23000000'/%3E%3Cstop offset='0.942' stop-color='%238a8a8a'/%3E%3Cstop offset='0.957' stop-color='%23000000'/%3E%3Cstop offset='0.957' stop-color='%239e9e9e'/%3E%3Cstop offset='0.973' stop-color='%23000000'/%3E%3Cstop offset='0.973' stop-color='%23545454'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23454545'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
        header {
            img {
                background-color: rgba(255, 255, 255, 0.667);
                object-fit: contain;
                border-color: var(--color-2);
            }
        }

        menu {
            a {
                span {
                    background-color: #6e6f72;
                }
            }
        }

        H3 {
            color: var(--color-2);
        }
    }
