/* - - - - - - - - - - - - - - */
/* F O N T S */
/* - - - - - - - - - - - - - - */
@font-face {
    font-family: 'Poppins-400';
    src: url(../fonts/Poppins-400.ttf);
}

@font-face {
    font-family: 'Poppins-600';
    src: url(../fonts/Poppins-600.ttf);
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap'); */
/* - - - - - - - - - - - - - - */
/* R E S E T */
/* - - - - - - - - - - - - - - */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* {
    margin: 0; 
    padding: 0; 
} */

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

/* - - - - - - - - - - - - - - */
/* V A R I A B L E S */
/* - - - - - - - - - - - - - - */
:root {
    --color-1: #fff9;
    --color-2: #0009;
    --font-400: 'Poppins-400', sans-serif;
    --font-600: 'Poppins-600', sans-serif;
}

/* - - - - - - - - - - - - - - */
/* G E N E R A L */
/* - - - - - - - - - - - - - - */
body {
    align-items: center;
    color: var(--color-2);
    display: flex;
    font-family: var(--font-400);
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;

    nav:not(.nav) {
        position: fixed;
        top: 10px;
        left: 10px;

        a:is(:link, :visited) {
            background-color: var(--color-2);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            opacity: .8;
            transition: all 0.2s ease-in;
            width: 40px;

            svg {
                width: 24px;
            }
        }

        a:is(:hover) {
            opacity: 1;
            transform: scale(1.12);
        }
    }

    main {
        header {
            align-items: center;
            display: flex;
            justify-content: center;
            gap: 0.6rem;
            flex-direction: column;

            h1 {
                font-size: 3rem;
                color: var(--color-1);
                font-family: var(--font-400);
                display: flex;
                align-items: center;
                text-align: center;
                gap: 0.6rem;

                span {
                    border-radius: 50px;
                    background-color: var(--color-2);
                    color: var(--color-1);
                    font-size: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    width: 50px;
                }
            }

            h2 {
                font-size: 1.4rem;
                font-family: var(--font-600);
            }

            h3 {
                font-size: 1rem;
                font-family: var(--font-400);
                border-radius: 50px;
                background-color: var(--color-2);
                color: var(--color-1);
                padding: 8px 16px;
            }

            p {
                color: #fff9;
                margin: 0 auto;
                width: 80%;
                text-align: center;
            }

            img {
                background-color: #fff6;
                border-radius: 50%;
                border: 10px solid var(--color-1);
                height: 200px;
                object-fit: cover;
                width: 200px;
            }
        }

        section {
            padding: 1rem;
            background-color: var(--color-1);
            border-radius: 4px;
            margin-block: 1rem;
            margin-inline: auto;
            width: 400px;

            h3 {
                border-bottom: 2px dotted var(--color-2);
                margin-block: 0.6rem;
            }

            p {
                font-size: 1.4rem;
                margin-bottom: 0.6rem;
            }

            xmp {
                color: #43fa43;
                margin-top: 0.6rem;
                border-radius: 5px;
                padding: 0 0.8rem 0.8rem;
                background-color: #0006;
            }
        }

        menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-block: 2rem;
            justify-content: center;
            gap: 0.6rem;

            a:is(:link, :visited) {
                border-radius: 50px;
                background: linear-gradient(to right, #fffc, #fff3);
                color: var(--color-2);
                display: flex;
                align-items: center;
                padding: 0.6rem;
                text-decoration: none;
                transition: all 0.4s ease-in;
                gap: 0.6rem;
                width: 240px;

                span {
                    border-radius: 20px;
                    background-color: var(--color-2);
                    color: #fff;
                    font-family: var(--font-600);
                    height: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 28px;
                }
            }

            a:is(:hover) {
                background: linear-gradient(to right, #fffe, #fff6);
                transform: scale(1.05) translateY(-4px);
            }
        }
    }
}

/* - - - - - - - - - - - - - - */
/* P H P*/
/* - - - - - - - - - - - - - - */
body.php {
    background-color: #777BB3;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='795' height='95.4' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23484C89' stroke-width='14.7' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    svg {
        width: 24px;
        fill: white;
    }

    main {
        header {
            img {
                background-color: rgb(255, 255, 255);
                object-fit: contain;
                border-color: var(--color-1);
            }
        }

        menu {
            a {
                span {
                    background-color: #7178B0;
                }
            }
        }

        H3 {
            color: var(--color-2);
        }
    }
}